openai==1.107.3
rich
jsonschema
scipy
python-dotenv
numpy
langchain-chroma
chromadb
finch-clust
networkx
claude-code-sdk
anthropic[vertex]
nltk
rank_bm25

sentence-transformers
llmlingua==0.2.2
qdrant-client==1.15.1
